<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <h1>About</h1>
        <p>This is my about page</p>
        <h3>Jiyad SHaikh</h3>
        <p>
            <i class="fa fa-id-badge"></i> Student ID: 149307233 |
            <i class="fa fa-envelope"></i> Email: jmashaikh1@myseneca.ca
        </p>
        <p>
            I'm a Business Information Technology student at Seneca Polytechnic.
        </p>
        <!-- End your code here  -->
    </main>
</div>
