<div class="row">
    <main class="col-md-12">
        <!-- Start your code here -->
        <h1>Welcome to the WEB700 app!</h1>
        <p>
            This website has been made to demonstrate HTML5 principles and
            techniques, running routes in a Express JS backend.
        </p>
        <h2>Website Features</h2>
        <p>
            This website consists of 3 static views and 5 routes to supply data
            using JSON format.
        </p>
        <h3>Static routes</h3>
        <ul>
            <li><a href="/">/</a> - Home page</li>
            <li><a href="/about">/about</a> - About the author</li>
            <li>
                <a href="/htmlDemo">/htmlDemo</a>
                - Demonstration of HTML5 features
            </li>
        </ul>
        <h3>Data routes</h3>
        <ul>
            <li>
                <a href="/students">/students</a>
                - Return all Students.
            </li>
            <li>
                <a href="/students?course=2">/students?course={id}</a>
                - Return students enrolled in the course with id {id}.
            </li>
            <li>
                <a href="/students/5">/students/{student_id}</a>
                - Return the student with id {student_id}.
            </li>
            <li><a href="/tas">/tas</a> - Return all TAs.</li>
            <li>
                <a href="/courses">/courses</a>
                - Return all available courses.
            </li>
        </ul>
        <h3>About HTML5</h3>
        <p>
            This website leverages HTML5, which is the most recent version of
            HTML (<b>H</b>yper
            <b>T</b>ext
            <b>M</b>arkup
            <b>L</b>anguage), a widely used protocol to structure and present
            content on the World Wide Web. HTML5 stands out from previous
            versions by providing support for modern media formats, improved
            responsiveness and better integration with other technologies.
        </p>
        <!-- End your code here  -->
    </main>
</div>